svg { 
	padding-left: 5px;
}

text {
	/* 
	Tahoma has excellent readability and 
	space utilization at small sizes.
	More: http://ux.stackexchange.com/a/3334 
	*/
	font: 9px Tahoma;
	fill: #000;
}

g {
	cursor: pointer;
}

line.bandLabelStalk {
	stroke: #AAA;
	stroke-width: 1;
}

.chromosomeBorder, .acen {
    stroke: #000; 
    stroke-width:0.5;
}

/* NCBI stain density colors */ 
.gneg {fill: #FFF}
.gpos25 {fill: #BBB}
.gpos33 {fill: #AAA}
.gpos50 {fill: #888}
.gpos66 {fill: #666}
.gpos75 {fill: #444}
.gpos100 {fill: #000}
.acen {fill: #FDD}
.stalk {fill: #CCE;}
.gvar {fill: #DDF}
