.nyc_output/
node_modules/
coverage/
test.log
screenshots/
images/
.DS_Store
crossfilter.min.js
data/analysis/
*.log
scripts/env
scripts/python/__pycache__/

# Eclipse IDE files
.project
.settings

# IDEA IDE files
.idea/
ideogram.iml
